/********************* tags *********************/

h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    
    line-height: 1.5;
    font-weight: 900;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
 
h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}








/********************* class *********************/

.section-title {
    background-color: #ff4c68;
    padding: 3% 15%;
}

/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.iphone {
    /* width: 56%;
    transform: rotate(18deg);
    margin-left: 98px;
    position: relative;
    bottom: 4px;
    padding: 50px 0 85px; */
    width: 56%;
    transform: rotate(18deg);
    margin-left: 98px;
    position: relative;
    bottom: 0px;
    padding: 50px 0 85px;
    
}

@media (max-width: 768px) {
    .iphone {
        width: 56%;
        transform: rotate(18deg);
        margin-left: 50px;
        position: relative;
        bottom: 0px;
        padding: 0 0 85px;
    }
  }

.download-button {
    margin: 5% 3% 5% 0;
}

.meet-new-downloads {
    padding-bottom: 50px;
}

/* second-page */

.section-features {
    padding: 7% 15%;
    position: relative;
    bottom: 50px;
}

/* 2nd page icons 7x */
.fa-5x {
    color: #ef8172;
    margin-bottom: 20px;
}

.fa-5x:hover {
    color: #ff4c68;
    
}

.second-page-para {
    color: #8f8f8f;
}

.three-features-section {
    text-align: center;
    margin-bottom: 30px;
}

/* page3-testimonials */

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* presss section */

.press-logo {
    padding: 0px 20px 0px;
    width: 90%;
}

.pricing-column {
    padding: 3% 2%;
}

/* Footer section */

.footer {
    background-color: #ff4c68;
}

.copyright {
    margin-bottom: 0px
}

/********************* id *********************/
#title {
    background-color: #ff4c68;
    color: white;
}

#features {
    margin-top: 100px;
    background-color: #fff;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.carousel-item {
    padding: 7% 15% 10%;
}


/* presss section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

/* pricing */

#pricing {
    padding: 30px;
    text-align: center;
}

/* cta */

#cta {
    background-color: #ff4c68;
    text-align: center;
}

